<!DOCTYPE HTML>

<html>
    <head>
        <title>义眼盯真</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}" />
        <noscript><link rel="stylesheet" href="{{ url_for('static', filename='css/noscript.css') }}" /></noscript>
    </head>
    <body class="is-loading-0 is-loading-1 is-loading-2">

        <!-- Main -->
            <div id="main">

                <!-- Header -->
                    <header id="header">
                    <div class="logohead">
                        <img src="/static/images/logo.png" alt="" width="150">
                    </div>
                        <h1 class="text-center">义眼盯真</h1>
                        <p class="text-center">帮你勘破虚妄的好帮手</p>
                    <button class="dynamic-btn"  id="upload-btn">
                        <span class="default-text">开始检测</span>
                        <span class="hover-text">火眼金睛，启动</span>
                        <div class="scan-line"></div>
                    </button>
                    </header>

                <!-- Thumbnail -->
                    <section id="thumbnails">
                        <article>
                            <a class="thumbnail" href="/static/images/fulls/01.jpg" data-position="left center"><img src="/static/images/thumbs/01.jpg" alt="" /></a>
                            <h2>图片拼接、移动篡改识别</h2>
                            <p>支持识别传统篡改方式，例如Photoshop等软件进行的篡改</p>
                        </article>
                        <article>
                            <a class="thumbnail" href="/static/images/fulls/02.jpg"><img src="/static/images/thumbs/02.jpg" alt="" /></a>
                            <h2>AIGC图片篡改识别</h2>
                            <p>目前支持识别FaceApp人脸篡改</p>
                        </article>
                        <article>
                            <a class="thumbnail" href="/static/images/fulls/03.jpg" data-position="top center"><img src="/static/images/thumbs/03.jpg" alt="" /></a>
                            <h2>基于大模型的AI图片分析助手</h2>
                            <p>可接入ChatGPT，Claude，DeepSeek等多种支持通用图片识别的大语言模型</p>
                        </article>
                        <article>
                            <a class="thumbnail" href="/static/images/fulls/04.jpg"><img src="/static/images/thumbs/04.jpg" alt="" /></a>
                            <h2>视频篡改识别</h2>
                            <p>对上传的短视频进行AI篡改识别</p>
                        </article>
                    </section>
            </div>

        <!-- Scripts -->
            <script src="/static/js/jquery.min.js"></script>
            <script src="/static/js/skel.min.js"></script>
            <script src="/static/js/main.js"></script>

            <script type="text/javascript">
             $('.toggle').click(function(){
                $('.caption').toggle();
             })
             document.getElementById('upload-btn').addEventListener('click', function() {
                 // 跳转到指定页面
                 window.location.href = "/image_detect";
             })
            </script>
    </body>
</html>
